<app-header></app-header>
<br>
<div class="container">
    <h3>Listado Pacientes</h3><br>
    <button type="button" class="btn btn-primary"(click)="nuevoPaciente()">Nuevo Pacientes</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">DNI</th>
            <th scope="col">TELEFONO</th>
            <th scope="col">CORREO</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let paciente of pacientes" (click)="editarPaciente(paciente.PacienteId)">
            <th scope="row">{{paciente.PacienteId}}</th>
            <th scope="row">{{paciente.Nombre}}</th>
            <th scope="row">{{paciente.DNI}}</th>
            <th scope="row">{{paciente.Telefono}}</th>
            <th scope="row">{{paciente.Correo}}</th>
        </tr>
    </tbody>

</table>
</div>

<app-footer></app-footer>